mixin card()

  .card
    .container
      .card__container
        .card__slider.swiper
          .card__slides.swiper-wrapper
            .card__box.swiper-slide
              .card__img
                +img("content", "slider-card1", "png", 640, 366, "Карта premium")
              .card__content
                .card__top
                  p Premium
                .card__bottom
                  p Efrosin Tarasov
