mixin choice-card()

  section.choice-card
    .container
      .choice-card__title
        h2.title.title--lg Выберите подходящую карту
      .choice-card__text
        p Выберите идеальную карту, соответствующую вашим потребностям. Получите эксклюзивные привилегии и выгоды при аренде автомобиля. Наслаждайтесь комфортом и удобством с нашими клубными картами.
      +info-card()
