mixin info-card()

  .info-card
    h2.visually-hidden Информация о картах
    .info-card__wrapper
      .info-card__item.info-card__item--color-1(data-aos="zoom-in")
        .info-card__name
          p(data-aos="zoom-in") Элегантный подарок на любой случай.
      .info-card__item
        .info-card__image(data-aos="zoom-in")
          +picture("content", "image-3", "png", 413, 400, "Картинка")
        .info-card__content
          .info-card__title
            p(data-aos="zoom-in") На Выходные
          .info-card__text
            p(data-aos="zoom-in") Отличное дополнение для тех, кто ищет отдых.
      .info-card__item
        .info-card__image(data-aos="zoom-in")
          +picture("content", "image-4", "png", 413, 650, "Картинка")
        .info-card__content
          .info-card__title
            p(data-aos="zoom-in") На день рождения
          .info-card__text
            p(data-aos="zoom-in") Эксклюзивное сюрпризное предложение для юбиляра.
      .info-card__item
        .info-card__image(data-aos="zoom-in")
          +picture("content", "image-2", "png", 413, 400, "Картинка")
        .info-card__content
          .info-card__title
            p(data-aos="zoom-in") На новый год
          .info-card__text
            p(data-aos="zoom-in") Дарите незабываемые впечатления перед Новым годом.
      .info-card__item.info-card__item--color(data-aos="zoom-in")
        .info-card__name
          p(data-aos="zoom-in") Автомобили всегда чистые и заправленные.
