mixin personal-rates()

  section.personal-rates
    .container
      .personal-rates__title
        h2.title.title--lg(data-aos="fade-down") Персональные условия по тарифам только для владельцев клубной карты
      .personal-rates__wrapper
        ul.personal-rates__list
          li.personal-rates__item(data-aos="fade-right")
            .personal-rates__card
              .personal-rates__name
                p(data-aos="zoom-in") Rolls-Royce Wraith
              .personal-rates__img(data-aos="zoom-in")
                +picture("content", "image-6", "png", 261, 164, "Картинка")
              .personal-rates__cost
                del
                  span(data-aos="zoom-in") 79.000 руб/сутки
                p(data-aos="zoom-in") 49.000 руб/сутки
          li.personal-rates__item(data-aos="fade-right")
            .personal-rates__card
              .personal-rates__name
                p(data-aos="zoom-in") Mercedes - Benz G
              .personal-rates__img(data-aos="zoom-in")
                +picture("content", "image-7", "png", 275, 195, "Картинка")
              .personal-rates__cost
                del
                  span(data-aos="zoom-in") 54.000 руб/сутки
                p(data-aos="zoom-in") 29.000 руб/сутки
          li.personal-rates__item(data-aos="fade-right")
            .personal-rates__card
              .personal-rates__name
                p(data-aos="zoom-in") Dodge Challenger SRT
              .personal-rates__img(data-aos="zoom-in")
                +picture("content", "image-11", "png", 272, 137, "Картинка")
              .personal-rates__cost
                del
                  span(data-aos="zoom-in") 20.000 руб/сутки
                p(data-aos="zoom-in") 11.900 руб/сутки
          li.personal-rates__item(data-aos="fade-right")
            .personal-rates__descr
              .personal-rates__content
                .personal-rates__number
                  p(data-aos="zoom-in") 20+
                .personal-rates__text
                  p(data-aos="zoom-in") автомобилей в аренду со скидкой до 40%
