mixin personal-rates()

  section.personal-rates
    .container
      .personal-rates__title
        h2.title.title--lg Персональные условия по тарифам только для владельцев клубной карты
      .personal-rates__wrapper
        ul.personal-rates__list
          li.personal-rates__item
            .personal-rates__card
              .personal-rates__name
                p Rolls-Royce Wraith
              .personal-rates__img
              .personal-rates__cost
                span 79.000 руб/сутки
                p 49.000 руб/сутки
          li.personal-rates__item
            .personal-rates__card
              .personal-rates__name
                p
              .personal-rates__img
              .personal-rates__cost
                span
                p
          li.personal-rates__item
            .personal-rates__card
              .personal-rates__name
                p
              .personal-rates__img
              .personal-rates__cost
                span
                p
          li.personal-rates__item
