mixin promo()

  section.promo
    .container
      .promo__wrapper
        .promo__description
          .promo__title
            h1.title Стань частью клуба Logo yo
          .promo__text
            p Узнайте о преимуществах наших Клубных карт для аренды авто. Эксклюзивные предложения, бесплатные дни и многое другое ждут вас. Присоединяйтесь к клубу уже сегодня!
        .promo__card
          .promo__card-item
            .promo__card-content
              .promo__card-top
                p Premium
              .promo__card-bottom
                p Efrosin Tarasov
              .promo__card-img

