.main-nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: 5px;
  }

  &__link {
    padding: 0 20px;

    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    font-family: $ff-halvar;
    color: $color-default-white;

    // background: #1a191b;
    // transition: background $trans-default;
    cursor: pointer;

    transition: opacity 0.2s ease;

      @media (hover: hover), screen and (min-width: 0\0) {
        &:focus,
        &:hover {
          opacity: 0.5;
        }
      }

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;
  }
}
