.promo {
  padding-top: 77px;

  @include vp-767 {
    padding-top: 40px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 25px;

    @include vp-1259 {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    // -webkit-column-gap: 40px;
    // -moz-column-gap: 40px;
    column-gap: 30px;
    row-gap: 40px;

    @include vp-1259 {
      justify-content: center;
    }

    @include vp-599 {
      margin: 0 auto;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      column-gap: 0;
      row-gap: 93px;
    }
  }

  &__description {

    @include vp-1259 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include vp-599 {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }

  &__content {
    @include vp-1259 {
      max-width: 640px;
    }

    @include vp-879 {
      max-width: 500px;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include vp-599 {
      text-align: center;
    }
  }

  &__text {
    max-width: 527px;
    width: 100%;

    margin-bottom: 50px;

    @include vp-1299 {
      max-width: 460px;
    }

    @include vp-1259 {
      max-width: 527px;
    }

    @include vp-879 {
      max-width: 410px;
    }

    @include vp-599 {
      margin: auto;
      margin-bottom: 20px;

    }

    p {
      margin: 0;
      padding: 0;

      font-size: 18px;
      font-weight: 400;
      line-height: 28px;
      text-transform: capitalize;
      font-family: $ff-halvar;

      color: $color-default-white;

      @include vp-879 {
        font-size: 16px;
        line-height: 26px;
      }

      @include vp-767 {
        text-align: center;
      }
    }
  }

  // &__card-item {
    // flex-basis: calc(33.33333% - 30px);
    // flex-shrink: 0;
    // border-radius: 13.031px;
    // background: #222123;
  // }

  &__card-item {
    border-radius: 13.031px;
    background: $color-black-2;
    position: relative;
    max-height: inherit;
    overflow: hidden;

  }

  &__card-item--1 {
    max-width: 417px;
    width: 100%;
    grid-column: 1/5;
    grid-row: 1/2;

    @include vp-599 {
      grid-column: none;
      grid-row: none;
      transform: translate(0, -277px);
    }
  }

  &__card-item--2 {
    max-width: 381px;
    width: 100%;
    transform: translate(0px,-150px);
    z-index: -1;
    grid-column: 3/7;
    grid-row: 2/3;

    @include vp-599 {
      transform: translate(15px,-200px);
      grid-column: none;
      grid-row: none;
      z-index: 1;
    }

    @include vp-399 {
      transform: translate(5px,-200px);
    }
  }

  &__card-item--3 {
    max-width: 340px;
    width: 100%;
    transform: translate(40px,-260px);
    z-index: -2;
    grid-column: 1/4;
    grid-row: 3/4;

    .promo__card-top p {
      color: $color-black;
    }

    @include vp-599 {
      transform: translate(40px,-126px);
      grid-column: none;
      grid-row: none;
      z-index: 1;
    }

    @include vp-399 {
      transform: translate(7px,-126px);
    }
  }

  &__card-item--4 {
    max-width: 340px;
    width: 100%;
    -webkit-transform: translate(250px,-400px);
    transform: translate(-16px,-150px);
    z-index: -3;
    grid-column: 3/7;
    grid-row: -2/-1;

    @include vp-599 {
      transform: translate(41px,-55px);
      grid-column: none;
      grid-row: none;
      z-index: 1;
    }

    @include vp-399 {
      transform: translate(10px,-55px);
    }
  }

  &__card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__card-top {
    display: flex;
    justify-content: flex-end;

    p {
      color: $color-default-white;
      font-family: $ff-euro;
      font-size: 18.244px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.912px;
      text-transform: uppercase;

      margin: 0;
      padding: 26px;
    }
  }

  &__card-bottom {
    p {
      color: $color-default-white;
      font-family: $ff-euro;
      font-size: 13.031px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.652px;
      text-transform: uppercase;

      margin: 0;
      padding: 26px;
    }
  }
}

.promo__submit {
  // margin-top: 30px;

  @include vp-767 {
    margin-top: 29px;
  }

  .btn {
    letter-spacing: -0.05em;

    @include vp-1023 {
      font-size: 16px;
      line-height: 125%;
      width: 180px;
      height: 180px;
      // margin-top: 15px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 90%;
      width: 150px;
      height: 150px;
      margin-top: 0;
      padding: 0;
    }
  }

  p {
    margin-top: 18px;

    font-size: 12px;
    line-height: 125%;
    font-weight: 600;

    @include vp-767 {
      margin-top: 9px;

      font-size: 10px;
      line-height: 120%;
    }
  }
}

.promo__btn {
  display: block;
  width: 200px;
  height: 200px;
  color: $color-default-white;
  text-align: center;
  font-family: $ff-halvar;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  text-transform: capitalize;
  background: transparent;

  border-radius: 50%;
  border: 1px solid $color-default-white;
}

.promo__submit {
  display: flex;
  justify-content: end;
}
