.title {
  margin: 0;

  font-size: 54px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  font-family: $ff-euro;

  color: $color-default-white;

  &--lg {
    font-size: 32px;
    line-height: normal;
    letter-spacing: 1.6px;
    line-height: normal;
  }
}
