.title {
  margin: 0;

  font-size: 54px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  font-family: $ff-euro;

  color: $color-default-white;

  &--lg {
    font-size: 32px;
    line-height: normal;
    letter-spacing: 1.6px;
    line-height: normal;

    @include vp-1259 {
      font-size: 28px;
      letter-spacing: 1.2px;
    }

    @include vp-1023 {
      font-size: 23px;
      letter-spacing: 1px;
    }

    @include vp-767 {
      font-size: 20px;
      letter-spacing: 0.7px;
    }
  }
}
