// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2");
// }

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "HalvarBreit";

  font-display: swap;
  src: url("../fonts/HalvarBreit-Rg.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "EurostileRound";

  font-display: swap;
  src: url("../fonts/EurostileRound-Medium.woff2") format("woff2");
}
