mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container
      .footer__section.footer__section--row-1
        .footer__wrapper
          .footer__content
            .footer__logo
              if (currentUrl === "index")
                span.footer__logo
                  +icon("icon-logo", 198, 23)
              else
                a.footer__logo(href="index.html", aria-label="Переход на главную")
                +icon("icon-logo", 198, 23)
            .footer__logo-text
              p Аренда премиальных автомобилей в Москве
            nav.footer__nav
              ul.footer__nav-list
                li.footer__nav-item
                  a(href="#") Автомобили
                li.footer__nav-item
                  a(href="#") Покупка авто
                li.footer__nav-item
                  a(href="#") Личная охрана
                li.footer__nav-item
                  a(href="#") Клубные карты
          .footer__contact
            .footer__contact-top
              .footer__phone
                span Телефон
                a(href="tel:+70000000000") +7 (000) 000-00-00
                p Работаем круглосуточно
              +social(socialIcon).footer__social
            .footer__contact-bottom
              span Адрес
              p Москва, Проспект Вернадского 12д
      .footer__section.footer__section--row-2
        div.footer-info
          .footer-info__wrapper
            .social-info
              p Следите за нами
              .social-info__wrapper
                .social-info__content.social-info__content--telegram
                  a(href="#").social-info__link
                  +icon("icon-telegram", 40, 40)
                  p Telegram
                .social-info__content.social-info__content--instagram
                  a(href="#").social-info__link
                  +icon("icon-inst", 40, 40)
                  p Instagram
            .feedback
              .feedback__form(data-validate)
                form(action="#", method="post", data-form="feedback-form")
                  .feedback__content
                    .feedback__title
                      h2.title.title--lg Остались вопросы ?
                    .feedback__text
                      p Отправьте заявку и наш эксперт свяжется с Вами в ближайшее время
                    .feedback-form__box
                      .feedback-form__item
                        +custom-input({inputLabel: "Ваше имя", inputName: "user-name", inputMinLength: "2"})(required, autocomplete="off")
                      .feedback-form__item
                        +custom-input({inputLabel: "Номер телефона", inputType: "tel", inputName: "user-tel"})(required, autocomplete="off")
                  .feedback__content
                    .feedback-form__submit
                      +btn({text: "Отправить", type: "submit"}).feedback-form__btn

      .footer__section.footer__section--row-3.copyright
        div.copyright__content
          p.copyright__text LOGO yO all Rights
          a.copyright__link(href="#", aria-label="Политика конфиденциальности") Политика конфиденциальности
          p.copyright__text Дизайн и разработка - AA
