mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Автомобили"
      },
      {
        href: "#",
        text: "Покупка авто"
      },
      {
        href: "#",
        text: "Личная охрана"
      },
      {
        href: "#",
        text: "Клубные карты"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          +icon("icon-logo", 168, 19)
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon("icon-logo", 168, 19)
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
      +social(socialIcon)
      a.header__btn.header__btn--line(href="#")
        span Связаться с нами
